NJT_USERNAME=your username
NJT_PASSWORD=your password
NJT_API_BASE_URL=https://raildata.njtransit.com/api/GTFSRT
NJT_RAW_DIR=data/raw
NJT_ARCHIVE_DIR=data/archive
NJT_TOKEN_CACHE=config/njt_token.json
